
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */



/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    background-color:rgb(245, 245, 245);
    padding: 12px 80px 12px 80px;
    align-items: center;
    width: 1280px;
    margin: 10px 80px;

    
}
.nav-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
nav ul li{
    list-style: none;}
    .green-1{
        color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 10px;
font-weight: 600;
line-height: 12px;
border-radius: 5px;
background: rgb(9, 161, 92);
 margin: 0px 10px;
 padding:8px 16px 8px 16px ;
 border-style: none;
}
.banner{

position: static;
width: 1280px;
height: 280px;
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
gap:32;
padding: 40px 50px 40px 50px;
flex: none;
margin: 40px 80px;
border-radius:12px;
background: rgb(198, 228, 214);
}
.banner-greeting{
position: static;
width: 311px;
height: 14px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 8px;;
padding: 0px;
margin: 8px 0px;
color:rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 12px;
font-weight: 250;
text-align: left;
}
.banner-description{
position: static;
width: 311px;
height: 100px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 8px;
padding: 0;
flex: none;
margin: 8px 0px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
.green-2{
position: static;
width: 101px;
height: 11px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 14;
padding: 8px 17px 8px 17px;
flex: none;
margin: 0px 14px;
border-radius: 4px;

background: rgb(0, 106, 80);

width:135px;
height: 28px;
margin: 12px 0px;
border-style: none;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size:8px;
font-weight: 600;
line-height: 11px;
text-align: left;
}
.banner-profile-pic{
    width: 360px;
    margin: 10px;
}
main{
  max-width:1280px ;
  margin: 40px 80px;
}

.section-title{
position: static;
width: 1280px;
height: 14px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
margin: 12px 0px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 10px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 1280px;
height: 14px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12px;;
padding: 0px;
margin: 40px 0px;
}
.vision-container{
    display: flex;
position: static;
width: 1280px;
height: 325px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24px;
margin: 32px 0px;
}
.vision-1{
position: static;
width: 410.67px;
height: 327px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 32px;
margin: 0px 24px;
box-sizing: border-box;
border-radius: 8px;

background: rgba(84, 144, 245, 0.2);
}
.vision-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 10px;
font-weight: 400;
line-height: 12px;
text-align: left;
position: static;
width: 163.67px;
height: 36px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 6;
margin: 6px 0px;
}
.vision-2{
    position: static;
width: 410.67px;
height: 327px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 32px;
margin: 0px 24px;
box-sizing: border-box;
border-radius: 8px;
background-color: rgb(198, 228, 214);
}
.vision-3{
    position: static;
    width: 410.67px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 32px;
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(247, 235, 207);
}
.btn1{

    border-radius: 5px;
     margin: 20px 10px;
     padding:8px 16px 8px 16px ;
     border-style: none;

background: rgb(84, 144, 245);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.btn2{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;

border-radius: 5px;
margin: 20px 10px;
padding:8px 16px 8px 16px ;
border-style: none;
background-color: rgb(9, 161, 92);
}

.btn3{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;

border-radius: 5px;
margin: 20px 10px;
padding:8px 16px 8px 16px ;
border-style: none;
background-color: rgb(255, 194, 57);
}
.plans-yunus{ 
position: static;
width: 1280px;
height: 256px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 24px 12px 24px 12px;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
background-image: url(../images/quote-bg.png);
background-repeat: no-repeat;
}

.signature{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-align: left;
margin: 4px 0px;
}






.plans{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;

    width: 1232px;
height: 96px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap:6;
padding: 0px;

margin: 12px 0px;
    }
.satellite{
position: static;
width: 1280px;
height: 120px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
margin: 16px 8px;
}
.satellite-title{
    margin-bottom: 40px;
}

